input.input2.btn.primary {
margin-left:63px;
}

#mask2 {
left:302px;
}

#mask3 {
left:270px;
}

input.datep.hasDatepicker {
margin-bottom:31px;
margin-left:15px;
margin-top:-26px;
}

textarea.input2 {
margin-bottom:26px;
}

input.datep {
margin-bottom:0;
margin-top:0;
}