p.uneNouvelle2 input {
background-color:transparent;
border-width:0;
color:#254061;
font-size:10px;
height:34px;
margin-left:-12px;
margin-top:-4px;
position:absolute;
width:526px;
}

#newnouv {
margin-left:0;
width:428px;
}