p.sondage u {
display:block;
height:13px;
margin-bottom:5px;
margin-left:54px;
width:43px;
}

p.question {
color:#e33b3b;
text-align:center;
text-decoration:underline;
}

.voterbtn {
display:block;
margin-bottom:9px;
margin-top:9px;
width:107px;
}

textarea.txtvote {
height:37px;
margin-left:7px;
margin-top:6px;
width:135px;
}

.inrad {
width:16px;
}