.alignLeft{
	margin-left:10px;
		margin-right:10px;
float:left;	
}
.alignRight{
	margin-right:10px;
	margin-left:10px;
	float:right;
}
.alignCenter{
		margin-right:10px;
	margin-left:10px;
	display:block;margin:0 auto;
}